* {
    box-sizing: border-box;
}

#grid-container {
    display: grid;
    margin: 0 auto;
    background-color: white;
    width: 240px; /* 15*16px */
    grid-template-columns: repeat(16, 15px);
    grid-template-rows: repeat(16, 15px);
}

#clear-button {
    display: block;
    margin: 25px auto;
    padding: 10px 20px;
    color: white;
    background-color: green;
}